<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Customer Management Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CustomerManagementHub.Presentation.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CustomerManagementHub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        @if (ViewContext.RouteData.Values["controller"].ToString() == "Customer")
                        {
                            <li class="nav-item">
                                <form method="post" asp-controller="Login" asp-action="Logout">
                                    <button type="submit" class="btn btn-link nav-link" style="color: red;">
                                        Logout
                                    </button>
                                </form>
                            </li>
                        }
                        else if (ViewContext.RouteData.Values["controller"].ToString() == "Register")
                        {
                            <li class="nav-item">
                                <form method="get" asp-controller="Login" asp-action="Login">
                                    <button type="submit" class="btn btn-link nav-link">
                                        <a href="/Login" style="text-decoration: none;">Login</a>
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <form method="get" asp-controller="Register" asp-action="Register">
                                    <button type="submit" class="btn btn-link nav-link">
                                        <a href="/register" style="text-decoration: none;">Register</a>
                                    </button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CustomerManagementHub
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
